
 .navbar {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  font-family: var(--secondary-font);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 600px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f2a154;
}

.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #222;
  width: 100%;
  z-index: 100;
  padding: 10px 0;
}

@media screen and (max-width: 925px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .open {
    display: flex;
  }
}
 
@media screen and (max-width: 925px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .open {
    display: flex;
  }
}