
 .navbar {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  font-family: var(--secondary-font);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 600px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f2a154;
}

.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #222;
  width: 100%;
  z-index: 100;
  padding: 10px 0;
}


 
@media screen and (max-width: 925px) {
/*   .navbar{
    display: none;
    width: auto;
  }
  .hamburger {
    display: block;
  }

  .logo{
    display: block;
  } */

 .container {
    flex-direction: column; /* Passer à une disposition en colonne */
    text-align: center; /* Centrer le contenu */
  }

  .logo {
    margin: 10px 0; /* Ajuster la marge pour centrer le logo */
  }

  .hamburger {
    display: inline-block; /* Afficher le bouton hamburger en ligne */
    margin-left: 20px; /* Ajouter une marge à gauche pour l'espacement */
  }

  .nav-links {
    display: none; /* Masquer les liens de navigation par défaut */
  }
  .open {
    display: block; /* Afficher le menu ouvert */
    position: fixed; /* Position fixée pour occuper tout l'écran */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    z-index: 100;
    text-align: center; /* Centrer le contenu du menu ouvert */
  }

  /* Afficher le menu ouvert au clic sur le bouton hamburger */
  .open.active {
    display: block;
  }
}